
@import "tailwindcss";



@theme {
  /* Registramos los colores vinculándolos a las variables que inyecta el ThemeService */
  --color-primary: hsl(var(--niche-primary-raw) / <alpha-value>);
  --color-accent: hsl(var(--niche-accent-raw) / <alpha-value>);

  /* Registramos el radio de borde dinámico */
  --radius-niche: var(--niche-radius);
}

/* Base neutra para evitar errores de renderizado inicial */
:root {
  --niche-primary-raw: 190 100% 50%; /* Cian Maestro */
  --niche-accent-raw: 60 100% 50%;   /* Amarillo Volt */
  --niche-radius: 0.75rem;
}

